.foto {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  /* padding: 0 80px; */

  min-width: 350px;
}

.img {
  width: 70%;
  max-width: 1440px;
  min-width: 350px;
  object-fit: cover;
  margin-top: 20px;
}
